<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/style.css"><%# here i don't put the public nut i define the middleware
    in the scriptjs that means that all my file path would automatically get public before  them by the use of that middleware %>

    <%# if i add the public before it that means the route that would be created would be punlic/public which would result in nothing %>
</head>
<body>
    <div class="first card">
        <img src="https://i.ibb.co/zRNn3t9/Zed-31.jpg" alt="" class="image">
        <div class="text_container"></div>
        <div class="logo">
            <img src="https://i.ibb.co/JnnVYPy/logo.jpg" alt="">
        </div>
        <div class="main_text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="date">
            <p>12.12.2022</p>
        </div>
        <div class="card_btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="second card">
        <img src="https://i.ibb.co/xmdBnyR/zed-empyrean-762x.jpg" alt="" class="image">
        <div class="text_container"></div>
        <div class="logo">
            <img src="https://i.ibb.co/JnnVYPy/logo.jpg" alt="">
        </div>
        <div class="main_text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="date">
            <p>12.12.2022</p>
        </div>
        <div class="card_btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="first card">
        <img src="https://i.ibb.co/R3DyqMr/image1.jpg" alt="" class="image">
        <div class="text_container"></div>
        <div class="logo">
            <img src="https://i.ibb.co/JnnVYPy/logo.jpg" alt="">
        </div>
        <div class="main_text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="date">
            <p>12.12.2022</p>
        </div>
        <div class="card_btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="first card">
        <img src="https://i.ibb.co/R3DyqMr/image1.jpg" alt="" class="image">
        <div class="text_container"></div>
        <div class="logo">
            <img src="https://i.ibb.co/JnnVYPy/logo.jpg" alt="">
        </div>
        <div class="main_text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="date">
            <p>12.12.2022</p>
        </div>
        <div class="card_btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="second card">
         <img src="https://i.ibb.co/xmdBnyR/zed-empyrean-762x.jpg" alt="" class="image">
        <div class="text_container"></div>
        <div class="logo">
            <img src="https://i.ibb.co/JnnVYPy/logo.jpg" alt="">
        </div>
        <div class="main_text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="date">
            <p>12.12.2022</p>
        </div>
        <div class="card_btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <h1>age</h1>
    <h1><%= age %></h1><%# this will give us the 12 because the syntax is to get an output of the thing that we put int while %>
    <div class="first card">
        <img src="https://i.ibb.co/zRNn3t9/Zed-31.jpg" alt="" class="image">
        <div class="text_container"></div>
        <div class="logo">
            <img src="https://i.ibb.co/JnnVYPy/logo.jpg" alt="">
        </div>
        <div class="main_text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="date">
            <p>12.12.2022</p>
        </div>
        <div class="card_btn">
            <a href="#">Learn More</a>
        </div>
    </div>
</body>
</html>